<div class="row">
    <div class="col-12">
        <form #f="ngForm" (ngSubmit)="onAddItem(f)">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" pattern="^[A-Za-z]+$" id="name" class="form-control" name="name" required ngModel>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount: </label>
                    <input type="number" pattern="^[0-9]+$" id="amount" class="form-control" name="amount" required ngModel>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{editMode ? 'Update' : 'Add'}}</button>
                        <button class="btn btn-danger" type="button" [disabled]="!f.valid" (click)=onDelete()>Delete Item</button>
                        <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
                        <!-- *ngIf="editMode" en el Delete Item, tambien funciona-->
                    </div>
                </div>
            </div>    
        </form>
    </div>
</div>